.header{
    /* position: relative; */
    margin-left: 420px;
    }
    .logo{
      color: orangered;
      font-size: 29pt;
      font-weight: bold;
      position: fixed;
      top: 25px;
      margin-left: 20px;
      /* font-family:'Courier New', Courier, monospace */
      font-family: Georgia, 'Times New Roman', Times, serif;
    
    }